<!DOCTYPE html>
<html>
  <head>
    <title>MyBlog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <% if current_user %>
    You log in by <%= current_user.name %>
    <%= link_to 'Log out', session_path('cirrent'), method: 'delete' %>
  <% else %>
    <%= link_to 'Sign up', new_user_path %> or
    <%= link_to 'Log in', new_session_path %>
  <% end %>
  <body>
    <%= yield %>
  </body>
</html>
